
  .container{
    margin-top: 50px !important;
  }
  .card-block{
    padding: 50px !important;
  }
  .card-title{
    font-size: 15px;  
    font-weight: bold;
    margin-right: 5px;
  }
  mat-icon{
    color: #fff;
    margin-right: 5px;
  }