<app-navbar></app-navbar>
  <div class="container">
    <div class="card">
      <div class="card-header">
        Change Password
      </div>
      <div class="card-block">
        <form [formGroup]="passwordForm" novalidate>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Email" required name="new_password" formControlName="email">
            <label for="email">Enter Email</label>
          </div>
          <button class="btn btn-success" (click)="change(passwordForm.value)">Change</button> &nbsp; &nbsp; 
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>