<app-user-side-bar>
    <div class="card">
        <div class="card-header">User Information</div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <ul *ngFor="let amount of user">
                            <li>
                                <span class="card-title">User Id:</span>
                                {{uid}}
                            </li>
                            <li>
                                <span class="card-title">User Email:</span>
                                {{email}}
                            </li>
                            <li>
                                <span class="card-title">Account Balance:</span>
                                {{amount.amount | currency:'NGN':true}}
                            </li>
                            <li>
                                <span class="card-title">My Invition code:</span>
                                under construction
                            </li>
                        </ul>
                    </div>



                    <div class="col-lg-6 col-sm-12">
                        <!-- SOME CONTENT GOES HERE -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="list; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
        <div class="table-responsive">
            <table
                class="table table-striped table-hover"
                style="margin-top: 20px;"
            >
                <thead class="thead-dark">
                    <tr>
                        <th>Ord Number</th>
                        <th>Card Type</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of list">
                        <td>{{card.id}}</td>
                        <td>{{card.cardType}}</td>
                        <td>{{card.date.seconds*1000 | date }}</td>
                        <td>
                            {{card.date.seconds*1000 | date:"shortTime"}}
                        </td>
                        <ng-container *ngIf='card.status; then thenTemplate; else elseTemplate'></ng-container>
                        <ng-template #thenTemplate>
                            <th>{{card.status}}</th>
                        </ng-template>
                        <ng-template #elseTemplate>
                            <td>Pending</td>
                        </ng-template>
                        <td>
                            <a
                                [routerLink]="['user-card-details/'+card.id]"
                                href
                                class="btn btn-secondary btn-sm"
                            >
                                Details
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
    <ng-template #elseTemplate>
        <div style="margin: 20px auto; width: 50%;">
            <h6>
                No Card Sale Record found please proceed to
                <a routerLink="/sell-card">sell giftcard</a>
            </h6>
        </div>
    </ng-template>
</app-user-side-bar>
