<app-user-side-bar>
<div class="container">
    <div class="card">
        <h3 class="card-header">Client Email: {{cardSale.email}}</h3>
        <div class="card-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h5>Client ID: {{id}}</h5>
                    </div>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <h6>Card Type:</h6>
                    {{cardSale.cardType}}
                </li>
                <li class="list-group-item">
                    <h6>User Remark:</h6>
                    {{cardSale.remark}}
                </li>
                <li class="list-group-item">
                    <h6>Card Image:</h6>
                    <a href="#popup">
                        <img
                            src="{{cardSale.url}}"
                            alt="card image"
                            style="width: 20%; height: 20%;"
                        >
                    </a>
                </li>

                <ng-container *ngIf='cardSale.adminMessage; then adminRemarkTemplate; else noAdminReplyTemplate'></ng-container>
                <ng-template #adminRemarkTemplate>
                    <li class="list-group-item">
                        <h6>Admin Response:</h6>
                        {{cardSale.adminMessage}}
                    </li>
                </ng-template>
                <ng-template #noAdminReplyTemplate>
                    <li class="list-group-item">
                        <h6>Admin Response:</h6>
                        Pending
                    </li>
                </ng-template>

                <ng-container *ngIf='cardSale.adminImageUrl; then adminImageUrlTemplate; else noAdminImageUrlTemplate'></ng-container>
                <ng-template #adminImageUrlTemplate>
                    <li class="list-group-item">
                        <h6>Response Image:</h6>
                        <a href="#popupadmin">
                            <img
                                src="{{cardSale.adminImageUrl}}"
                                alt="Response image"
                                style="width: 20%; height: 20%;"
                            >
                        </a>
                    </li>
                </ng-template>
                <ng-template #noAdminImageUrlTemplate>
                    <li class="list-group-item">
                        <h6>Response Image:</h6>
                        Pending
                    </li>
                </ng-template>

                <ng-container *ngIf='cardSale.amount; then amountTemplate; else noAmountTemplate'></ng-container>
                <ng-template #amountTemplate>
                    <li class="list-group-item">
                        <h6>Amount:</h6>
                        {{cardSale.amount}}
                    </li>
                </ng-template>
                <ng-template #noAmountTemplate>
                    <li class="list-group-item">
                        <h6>Amount:</h6>
                        Pending
                    </li>
                </ng-template>

                <ng-container *ngIf='cardSale.status; then thenTemplate; else elseTemplate'></ng-container>
                <ng-template #thenTemplate>
                    <li class="list-group-item">
                        <h6>Status:</h6>
                        {{cardSale.status}}
                    </li>
                </ng-template>
                <ng-template #elseTemplate>
                    <li class="list-group-item">
                        <h6>Status:</h6>
                        Pending
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</div>
</app-user-side-bar>

<section
    class="popup"
    id="popup"
>
    <a
        href="#details"
        class="popup__close"
    >
        &times;
    </a>
    <div class="popup_content">
        <img
            src="{{cardSale.url}}"
            alt="card image"
            style="width: 100%; height:100%; object-fit: contain;"
        >
    </div>
</section>

<section
    class="popupadmin"
    id="popupadmin"
>
    <a
        href="#details"
        class="popupadmin__close"
    >
        &times;
    </a>
    <div class="popupadmin_content">
        <img
            src="{{cardSale.adminImageUrl}}"
            alt="card image"
            style="width: 100%; height:100%; object-fit: contain;"
        >
    </div>
</section>
