<ng-sidebar-container>
<ng-sidebar
[(opened)]="_opened"
[mode]="_MODES[_modeNum]"
[keyClose]="_keyClose"
[position]="_POSITIONS[_positionNum]"
[dock]="_dock"
[dockedSize]="'50px'"
[autoCollapseHeight]="_autoCollapseHeight"
[autoCollapseWidth]="_autoCollapseWidth"
[closeOnClickOutside]="_closeOnClickOutside"
[closeOnClickBackdrop]="_closeOnClickBackdrop"
[showBackdrop]="_showBackdrop"
[animate]="_animate"
[trapFocus]="_trapFocus"
[autoFocus]="_autoFocus"
[sidebarClass]="'demo-sidebar'"
[ariaLabel]="'My sidebar'">

<!--sidebar content goes here-->

<h3>Fastgcard</h3>
<hr> 
<div style="margin-top: 15px;">
  &rarr; Menu
</div>
  <a [routerLink] ="['/admin']">Dashboard</a>
  <a [routerLink] = "['withdraw-details']">Withdraw Request</a>
  <a (click)="resetPassword(email)">Change Password</a>
  <a (click)="onLogout()">Sign Out</a>
</ng-sidebar>
<div ng-sidebar-content>
<header class="demo-header">
  <button (click)="_toggleOpened()" class="demo-header__toggle">Toggle sidebar</button>
</header>
<section class="demo-contents table-responsive">
  <ng-content></ng-content>
</section>
</div>
</ng-sidebar-container>