
/** All colors are decllared here...*/

$light-green: #61D2B4;
$medium-green: #55c567;
$dark-green: #28b485;


//grayscale color selection
$white: #fff;
$black:#0000;
$gray:#d4d4d4;
$light-gray: #7f7f7f;
$footer-bg: #292f35;


//user dashboard
$sidebar-bg: #7386D5;