<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <nav>
          <ul>
            <li><a href="#" routerLink="/home">Homepage</a></li>
            <li><a href="#" routerLink="/sign_in">Sign In</a></li>
            <li><a href="#" routerLink="/sign_up">Sign Up</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 copy">
        <p>All copyrights reserved &copy; 2019 - Designed and Developed by fastgcard.com</p>
      </div>
    </div>
  </div>
</footer>
